.div-principal {
  font-family: 'Bebas Neue', cursive;
  /* background-image: url('https://thumbs.dreamstime.com/z/mecanismos-e-m%C3%A1quinas-dos-rob%C3%B4s-do-cyberpunk-detalhes-spacecr-131050202.jpg'); */
  /* background-image: url('https://thumbs.dreamstime.com/z/detalhes-da-nave-espacial-131090580.jpg'); */
  /* background-image: url('https://thumbs.dreamstime.com/b/ilustra%C3%A7%C3%A3o-d-de-intelig%C3%AAncia-artificial-rob%C3%B4-drone-internet-bot-no-ciberespa%C3%A7o-tecnologia-digital-e-redes-sem-fios-162140289.jpg'); */
  background: linear-gradient(to top, #8e9eab, #eef2f3);
  /* background: linear-gradient(to top, #20002c, #cbb4d4); */
  background-size: 100%;
  /* background-position: bottom 60px; */
  border: 1px solid gray;
  width: 80%;
}

@media screen and (max-width: 800px) {
  .div-app-bracos {
    display: flex;
    flex-direction: column;
  }
}