.div-principal-estado {
  border: 1px solid gray;
  padding-bottom: 3%;
  width: 100%;
}

.h3-estado {
  width: 100%;
  border: 1px solid gray;
  background-color: aliceblue;
  border-radius: 5px;
}

.div-estado-item {
  border: 1px solid gray;
  width: 100%;
  padding: 4%;
  margin-top: -0.9%;
  margin-bottom: -3%;
}

@media screen and (max-width: 800px) {
  .h3-estado {
    font-size: 20px;
  }

  .estado-item {
    display: flex;
    flex-direction: column;
  }
}
