.div-principal-estado {
  /* background-image: url('https://static.vecteezy.com/ti/vetor-gratis/t2/1180514-azul-painel-de-controle-interface-hud-vetor.jpg');
  background-size: 100%; */
  border: 1px solid gray;
  padding-bottom: 3%;
  width: 100%;
  /* color: aliceblue; */
}

.h3-estado {
  width: 100%;
  border: 1px solid gray;
  background-color: aliceblue;
  border-radius: 5px;
  /* color: black; */
}

.div-estado-item {
  border: 1px solid gray;
  width: 100%;
  padding: 4%;
  margin-top: -0.9%;
  margin-bottom: -3%;
  /* color: wheat; */
}

@media screen and (max-width: 800px) {
  .h3-estado {
    font-size: 20px;
  }

  .estado-item {
    display: flex;
    flex-direction: column;
  }

  /* .div-estado-item {
    margin-top: -1.3%;
  } */
}
