.div-principal-login {
  font-family: 'Bebas Neue', cursive;
  background: linear-gradient(to top, #8e9eab, #eef2f3);
  background-size: 100%;
  width: 100%;
  padding-bottom: 20%;
}

@media screen and (max-width: 800px) {
  .h1-login {
    padding-left: 10%;
    padding-right: 10%;
  }

  .h2-login {
    padding-left: 10%;
    padding-right: 10%;
  }
}